.main-bg {
  height : 300px;
  background-image : url('./bg.jpg');
  background-size : cover;
  background-position : center;
}
.veggie-card{
  margin-top: 20px !important;
  /* width: 300px !important; */
  text-align: center;
}

.veggie-img{
  max-width: 400px;
  max-height: 400px;
}

.veggie-detail-img{
  max-width: 600px;
  max-height: 600px;
}
.more-btn-container{
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* Detail Page*/
.content-container{
  display: flex;
  justify-content: center;
  margin: 100px;
}
.product-info{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: all 1s;
}

.cart-count-num{
  padding-left: 10px;
  padding-right: 10px;
}